<!DOCTYPE html>
<html>

<head>

<title>Tomato Spoilage AI Dashboard</title>

<style>

body{
background:#020617;
font-family:Arial;
text-align:center;
color:white;
}

h1{
margin-top:40px;
}

.container{
margin-top:40px;
}

.card{
background:#0f172a;
padding:30px;
border-radius:12px;
width:300px;
margin:auto;
box-shadow:0px 0px 20px #14b8a6;
}

.value{
font-size:28px;
margin:10px;
}

.status{
font-size:30px;
margin-top:20px;
}

.remark{
margin-top:10px;
font-size:18px;
color:#94a3b8;
}

</style>

</head>

<body>

<h1>🍅 Tomato Spoilage AI Dashboard</h1>

<div class="container">

<div class="card">

<div class="value" id="temp">Temperature: --</div>
<div class="value" id="humidity">Humidity: --</div>
<div class="value" id="gas">Gas: --</div>

<div class="status" id="status">Waiting...</div>
<div class="remark" id="remark">Waiting for sensor data</div>

</div>

</div>

<script>

async function updateData(){

const response = await fetch("/data")

const data = await response.json()

document.getElementById("temp").innerText =
"Temperature: " + data.temp + " °C"

document.getElementById("humidity").innerText =
"Humidity: " + data.humidity + " %"

document.getElementById("gas").innerText =
"Gas: " + data.gas

document.getElementById("status").innerText =
data.status

document.getElementById("remark").innerText =
data.remark

}

setInterval(updateData,2000)

</script>

</body>

</html>
